server {
  listen 80;
  server_name localhost; # Puedes cambiar esto por el dominio de tu aplicación

  root /usr/share/nginx/html;
  index index.html;

  location / {
    try_files $uri $uri/ /index.html;
  }

  # Configuración opcional para Gzip para mejorar el rendimiento
  gzip on;
  gzip_types text/plain text/css application/json application/javascript text/xml application/xml application/xml+rss text/javascript;
  gzip_proxied any;
  gzip_comp_level 5;
  gzip_buffers 16 8k;
  gzip_http_version 1.1;
  gzip_disable "MSIE [1-6]\.(?!.*SV1)";
  gzip_vary on;
}
